body {
    background-image: url(../img/jumbo-jet-flying-sky_23-2150895681.avif);
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    width: 100%; 
    height: 100vh;
  }
  
  .App {
    display: flex;
    flex-direction: column; 
  }
  
  .Home,
  .Card {
    margin: 0; 
    padding: 0; 
  }
  
  .Card {
    margin-top: 5px; 
  }
  
  /* Responsive Styles */
  @media (max-width: 1200px) {
    body {
      background-size: contain; 
    }
    
    .App {
      flex-direction: column; 
    }
  
    .Card {
      margin-top: 10px; 
    }
  }
  
  @media (max-width: 768px) {
    body {
      background-size: contain; 
      height: auto; 
    }
    
    .App {
      flex-direction: column; 
    }
  
    .Card {
      margin-top: 15px;
    }
  }
  
  @media (max-width: 480px) {
    body {
      background-size: contain; 
      height: auto; 
      padding: 10px; 
    }
    
    .App {
      flex-direction: column; 
    }
  
    .Card {
      margin-top: 20px; 
    }
  }
  